{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $button2Text := index $hero "button2text" }}
{{- $button2Link := index $hero "button2link" }}
{{- $image      := index $hero "image" }}
{{- $announcements := index $hero "announcements" }}
{{- $announcement1 := index $hero "announcement1" }}
{{- $announcement2 := index $hero "announcement2" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle | safeHTML }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
	  {{- if $button2Text }}
          <a class="button cta rounded primary-btn raised" href="{{ $button2Link }}">
            {{ $button2Text }}
          </a>
	  {{- end }}
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="boximage is-4by3">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
      </div>
      <div class="column is-9 is-offset-1">
      {{- range $announcements }}
          <figure class="announcements">
          {{- if .background_color }}
  	  <blockquote style='background-color: {{ .background_color }}'>
          {{- else }}
  	  <blockquote>
          {{- end }}
              <h2><b>{{ .title }}</b></h2>
	      {{ .text | safeHTML }}
  	  </blockquote>
  	</figure>
        <br/>
      {{- end}}
      </div>
    </div>
  </div>
</div>
