<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="{{ "js/fresh.js" | relURL }}"></script>
<script src="{{ "js/jquery.panelslider.min.js" | relURL }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!-- Cookie Consent -->
<!--<script src="{{ "js/cookieconsent.min.js" | relURL }}" data-cfasync="false"></script>-->
<script src="{{ "js/cookieconsent.min.js" | relURL }}"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#f2f2f2",
      "text": "#344258"
    },
    "button": {
      "background": "#4fc1ea",
      "text": "#344258"
    }
  },
  "theme": "classic",
  "position": "bottom-right",
  "type": "opt-in",
  "content": {
    "message": "This website would like to use the open source tool Matomo to gather insights about when and where the site is accessed. We'd only store the first 2 bytes of your IP, plus any user data would be pseudonymized if not anonymized and deleted after 180 days. However, the choice is yours!"
  },
  onStatusChange: function(status) {
    console.log(this.hasConsented() ?
      'enable cookies' : 'disable cookies');
    if (this.hasConsented()) {
      window._paq.push(['rememberConsentGiven']);
    }
  }
});
</script>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['requireConsent']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.sesc.eu/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
