{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
	{{ $num_clients := div (len $clients) 2 }}
	{{ $column := printf "column is-%d" (div 12 $num_clients) }}
	{{- range $client_index, $client := $clients }}
	<div class={{ $column }}>
          <figure class="testimonial">
            <blockquote>
              {{ .quote }}
            </blockquote>
	    {{- if .img2 }}
            <div class="author2">
		    <p><img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
		    <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img2) | relURL }}" alt=""/></p>
              <h5>{{ .name }}</h5>
	      <span>{{ .job }}<br>{{ .company | safeHTML }}</span>
            </div>
	    {{- else }}
            <div class="author">
              <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
              <h5>{{ .name }}</h5>
	      <span>{{ .job }}<br>{{ .company | safeHTML }}</span>
            </div>
	    {{- end }}
          </figure>
        </div>
	{{ if eq $client_index 1 }}
      </div>
      <div class="columns is-vcentered">
	{{- end }}
        {{- end }}
      </div>
    </div>
  </div>
</section>
